
            #banner_image{
                padding-top:75px;     
                padding-bottom: 50px;
                text-align: center;
                color: green;
                background: url('..includes/image/photo1.jpg') no-repeat center ;
                background-size: cover;
                margin-bottom: 25px;
                min-height: 600px;
            }
            #banner_content{
                position:relative;
                padding-top: 16px;
                padding-bottom: 26px;
                margin-top: 160px;
                margin-bottom: 12%;
                margin-left: auto;
                margin-right: auto;
                background-color:rgba(0,0,0,0.7);
                max-width: 560px;
                width: 80%;
                max-height: 200px;
            }
           footer{
                padding-top: 5px ;
                background-color:black;
                width:100%;
                color: #9d9d9d;
               }
             .foot_contr{  margin-bottom: -5px;}
            a:hover{ text-decoration: none;}
            
            .bdy{ background-color: #b9def0;padding-top: 15px; }
            #banner{ font-family:cursive;color: white; }
            .logo{margin:0; padding-bottom: 0; padding-top: 0;margin-top: -5px;}            
            .navbar-brand{ padding-right: 0;padding-left: 0;}
            .lrg{font-size: 25px; font-family:sans-serif;}
        